$theme-colors: (
   "primary": #23232D,
   "secondary": #EF5466,
   "success": #00ac64,
   "info": #1693CB,
   "danger": #EF5466,
   "warning": #F1891D,
   "gray": #AAB2B4,
   "dark": #211D1C
);

$form-feedback-valid-color: #0b862d;
$form-feedback-invalid-color: red;
$oc-form-label: (
   "margin-bottom": 0,
   "font-size": .9em
);
$oc-form-control: (
   "font-size-feedback": .7em
);
